body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 30px;
  background-image: linear-gradient(#55c955, lavender); }

.logo-size {
  width: 150px;
  margin-top: 10px;
  margin-left: 20px; }

.carousel-caption {
  background-color: royalblue; }

.container-fluid {
  padding: 0;
  margin: 0; }

.titulosImportantes {
  padding: 40px;
  font-size: 30px;
  color: sienna;
  text-align: center; }

img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
  transition: .5s;
  bottom: -100%; }

.newsletter {
  color: royalblue;
  padding: 40px;
  margin: 0;
  font-size: 30px; }

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
 }

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem; } }

.h1__titulosImportantes--tamanioColor {
  padding: 40px;
  font-size: 30px;
  text-align: center;
  color: sienna; }

.form__background--color {
  background-color: lavender; }

.h1__titulo--color {
  padding: 40px;
  font-size: 30px;
  color: black;
  text-align: center; }

.h1__titulo--color2 {
  background-color: #55c955;
  padding: 40px;
  font-size: 30px;
  color: black;
  text-align: center; }

.section__videoYoutube--tamanio {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center; 
  padding: 40px;
}

.lista1 {
  color: black;
  background-color: blue;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }

.lista2 {
  color: black;
  background-color: orangered;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }

.lista3 {
  color: black;
  background-color: red;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }

.lista4 {
  color: black;
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }

.pruebaExtended, .optionBasico, .optionAmateur, .optionProfesional {
  color: black;
  padding: 10px;
  background-color: #55c955; }

.optionBasico {
  background-color: green; }

.optionAmateur {
  background-color: yellow; }

.optionProfesional {
  background-color: red; }

.carousel2 {
  color: white;
  background-color: sienna;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }

.carousel3 {
  color: white;
  background-color: green;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px; }
.nav-item:hover{
  background: #55c955;
}